{
    "source":{
        "connection-string": "Server=tcp:51.143.5.152,1433;Initial Catalog=TPCH;Persist Security Info=False;User ID=damauri;Password=StrongNewPassw0rd!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;"
    },
    "destination":{
        "connection-string": "Server=tcp:dmmssqlsrv.database.windows.net,1433;Initial Catalog=dmhs;Persist Security Info=False;User ID=damauri;Password=Passw0rd!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;"
    },
    "tables": ["*"],
    "options": {
        "max-tasks": 7,
        "max-logical-partitions": 7,
        "batch-size": 100000
    }
}