{
    "source":{
        "connection-string": "Server=;Initial Catalog=;"
    },
    "destination":{
        "connection-string": "Server=;Initial Catalog=;"
    },
    "tables": ["*"],
    "options": {
        "tasks": 7,
        "logical-partitions": 7,
        "batch-size": 100000,
        "truncate-tables": true,
        "safe-check": "readonly"
    }
}